[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore.global
    editor = code --wait 
[rebase]
    autosquash = true
    autostash = true
[fetch]
    prune = true
[commit]
    template = ~/.git_commit_msg.txt
[alias]
    rbi = rebase -i
    ame = commit --amend
    amne = commit --amend --no-edit
    fix = commit --fixup
    pf = push --force-with-lease
    fp = pf
[include]
    path = ~/.gitconfig.user